p {
    font-size: 20px;
}

#red {
    color: red;
}

#underline {
    text-decoration: underline;
}

#green {
    color: green;
}

li {
    text-decoration: underline;
}

.big {
    font-size: 20px;
}

#redLi {
    color: red;
}