

p {
    font-size: 20px;
}

.red {
    color: red;
 }   

.underline {
    text-decoration: underline;
}

.small {
	font-size: 10px;
}

#green {
    color: green;
}

li {
    text-decoration: underline;
}

.big {
    font-size: 20px;
}
